body {
  font-family: Gill Sans, sans-serif;
  /* background-color: salmon;
  text-align: center; */
}

/* Styling for the background image, padding accounts for the white border that is created. */
.background-container{
  background-image: url('https://media.istockphoto.com/id/1308684522/vector/blue-and-green-blurred-motion-abstract-background.jpg?s=612x612&w=0&k=20&c=ELAPwLRDLH1AbjPDL9RyKBuJR9vcJqn0j8Iz4JLfuCI=');
  background-size:cover;
  background-position:center;
  padding:50px;
  color:white;
  text-align:center;
}

/* Styling for Welcome to Victoria's Zoo, text-shadow creates some depth. Border between title and remainder of content.*/
.main-title{
  font-size:3em;
  font-weight:bold;
  color: rgba(180, 220, 110, 0.854);
  text-shadow: 3px 3px 5px rgba(0,0,0,0.2); /* red,blue, green, alpha */
  margin-bottom:20px;
  border-bottom:3px solid rgb(255, 230, 0);
  padding-bottom:10px;
  letter-spacing:2px;

}

/* Styling for the celebration statement, adds padding to the top and bottom of the text, but not to the left and right. */
.centered-header{
  font-size:2em;
  margin:0;
  padding:20px 0;
}

/* Styling for the paragraph, margin-left/right is set to 15% as the percentage scales it according to the view of the page. */
.sub-header{
  font-size:1.2em;
  margin-bottom:40px;
  margin-left:15%;
  margin-right:15%;

}

.invite-header{
  font-size:1.5em;
  margin-bottom:30px;
}

/* Creates a 2x2 grid for all four exhibits to be neatly arranged on page. 1fr represents the fraction of space each item will have in the grid.*/
.exhibits-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:30px;
  justify-items:center;
}

/* Styling for each exhibit, use of flex-direction to align the image and button in a column. */
.exhibit{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  max-width:300px;
}

.exhibit img{
  width:100%;
  max-width:300px;
  height:150px;
  object-fit:cover;
  border-radius:10px;
}

.exhibit-button{
  display:inline-block;
  margin-top:10px;
  padding:10px 15px; /* space around the height and length of the button */
  background-color: rgba(180, 220, 110, 0.854); /* button color */
  color:white; /* text color */
  text-decoration:none; /* remove underline */
  border-radius:5px;
  font-size:1.4em;
}